<div id="actions_toolbar" class="task-desktop-actions main_toolbar">
    <div class="layout flex main_actions">
        {{#if editable}}
        <div class="layout flex main_actions">
            <a class="btn btn-primary primary-action"
               href="#addproduct"
               title="Ajouter un produit">
                <svg>
                    <use href="/static/icons/endi.svg#plus">   </use>
                </svg>Ajouter un produit
            </a>
            <a class="btn btn-primary primary-action"
               href="#addwork"
               title="Ajouter un ouvrage">
                <svg>
                    <use href="/static/icons/endi.svg#plus">   </use>
                </svg>Ajouter un ouvrage
            </a>
            <a class="btn btn-primary primary-action"
               href="#adddiscount"
               title="Ajouter une remise">
                <svg>
                    <use href="/static/icons/endi.svg#plus">   </use>
                </svg>Ajouter une remise
            </a>
        </div>
        {{/if}}
        <div class='resume'></div>
        <div class='more-actions'></div>
    </div>
    <div class='errors'></div>
</div>
{{#if has_tasks}}
<div class='tasks separate_block border_left_block'></div>
{{/if}}
<div class='common separate_block border_left_block'></div>

<div class='separate_block'>
    <div class='products table_container'></div>
</div>

<div class='separate_block separate_block border_left_block'>
    <div class='discounts table_container'></div>
</div>
