<h2 class='title'>Informations générales <small>N'apparaissent pas dans les documents finaux (Devis/Factures)</small></h2>
<div class='layout flex content'>
    <div class='field-name col-md-6'></div>
    <div class='field-notes col-md-6'></div>
</div>
