<table>
    <thead>
        <th scope="col" class="col_text">Intitulé des postes</th>
        <th scope="col" title="Prix unitaire Hors Taxe" class="col_number">Coût unit<span class="screen-reader-text">aire</span>. HT</th>
        <th scope='col' class='col_number' title='Coefficient de marge'>
            Coef<span class='screen-reader-text'>ficient de</span> marge
        </th>
        <th scope="col" class="col_number" title="Coefficient de frais généraux">Coef<span class='screen-reader-text'>ficient de</span> frais généraux</th>
        <th scope="col" title="Prix unitaire Hors Taxe" class="col_number">Prix unit<span class="screen-reader-text">aire</span>. HT</th>
        <th scope="col" title="Quantité">Q<span class="screen-reader-text">anti</span>té</th>
        <th scope="col" class="col_text">Unité</th>
        <th scope="col" class="col_number" title="Prix Hors Taxe"><span class="screen-reader-text">Prix </span>HT</th>
        <th scope="col" class="col_text" title="Taux de TVA"><span class="screen-reader-text">Taux de </span>TVA</th>
        <th scope="col" class="col_text" title="Type de produit"><span class="screen-reader-text">Type de </span>Produit</th>
        <th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
    </thead>
    <tbody>
        <tr>
            <td class='col_text'>{{{ description }}}</td>
            <td class='col_number'>
            {{#if supplier_ht_mode }}
            {{{ supplier_ht_label }}}
            {{else}}
            -
            {{/if}}
            </td>
            <td class='col_number'>
            {{#if supplier_ht_mode }}
            {{ margin_rate }}
            {{else}}
            -
            {{/if}}
            </td>
            <td class='col_number'>
            {{#if supplier_ht_mode }}
            {{ general_overhead }}
            {{else}}
            -
            {{/if}}
            </td>
            <td class='col_number'>{{{ ht_label }}}</td>
            <td class='col_number'>{{ quantity }}</td>
            <td class='col_text'>{{ unity }}</td>
            <td class='col_number'>{{{ total_ht_label }}}</td>
            <td class='col_number'>{{ tva_label }}</td>

            <td class='col_text'>{{ product_label }}</td>
            <td class='col_actions'></td>
        </tr>
    </tbody>
</table>
