<td>
</td>
<td class='col_text'>{{{ description }}}</td>
<td class='col_number'>
{{#if supplier_ht_mode }}{{{ supplier_ht_label }}}{{else}}-{{/if}}
</td>
<td class='col_number'>{{{ ht_label }}}</td>
<td class='col_number'>{{ work_unit_quantity }}</td>
<td class='col_number'>{{{ work_unit_ht_label }}}</td>
<td class='col_number'>{{ total_quantity }}</td>
<td class='col_text'>{{ unity }}</td>
<td class='col_text'>{{ tva_label }}</td>
<td class='col_text'>{{ product_label }}</td>
<td class='col_number'>{{{ total_ht_label }}}</td>
