 <table class="hover_table">
        <caption class='screen-reader-text'>
            Liste des produits composants l'ouvrage
        </caption>
        <thead>
            <tr>
                <th scope='col' class='col_text'></th>
                <th scope="col" class="col_text">Intitulé des postes</th>
                <th scope="col" title="Coût unitaire Hors Taxe" class="col_number">
                    Coût unit<span class="screen-reader-text">aire</span>. HT
                </th>
                <th scope="col" title="Prix unitaire Hors Taxe" class="col_number">
                    Prix unit<span class="screen-reader-text">aire</span>. HT
                </th>
                <th scope="col" title="Quantité par unité d'ouvrage" class="col_number">
                        Q<span class="screen-reader-text">uanti</span>té par unité d'ouvrage
                </th>
                <th scope="col" class="col_number" title="Prix Hors Taxe">      <span class="screen-reader-text">Prix </span>HT par unité d'ouvrage
                </th>

                <th scope="col" title="Quantité">
                    Q<span class="screen-reader-text">uanti</span>té
                </th>
                <th scope="col" class="col_text">Unité</th>
                <th scope="col" class="col_text" title="Taux de TVA">
                    <span class="screen-reader-text">Taux de </span>TVA
                </th>
                <th scope="col" class="col_text" title="Type de produit">       <span class="screen-reader-text">Type de </span>Produit
                </th>
                <th scope="col" class="col_number" title="Prix Hors Taxe">      <span class="screen-reader-text">Prix </span>HT
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
