<div class="layout flex main_actions">
	<div role="group">
		{{#each buttons}}
			<button
				class='btn {{this.css}}'
				title="{{ this.title }}"
				data-url='{{ this.url }}'
				data-title='{{ this.title }}'
				data-label='{{ this.label }}'
				data-status='{{ this.status }}'>
				<svg><use href="/static/icons/endi.svg#{{this.icon}}"></use></svg>
				{{this.label}}
			</button>
		{{/each}}
	</div>
	<div role="group" class='totals'>
		<dl class="dl-horizontal">
            {{# if is_ttc_mode }}
            <dt>Total TTC avant remise</dt>
			<dd>{{{ ttc_before }}}</dd>
			<dt>Total HT avant remise</dt>
			<dd>{{{ ht_before }}}</dd>
            {{else}}
			<dt>Total HT avant remise</dt>
			<dd>{{{ ht_before }}}</dd>
			<dt>Total HT</dt>
			<dd>{{{ ht }}}</dd>
            {{/if}}
			{{#each tvas}}
				<dt>TVA {{{this.label}}}</dt>
				<dd> {{{this.value}}}</dd>
			{{/each}}
			<dt>Total TTC</dt>
			<dd>{{{ ttc }}}</dd>
		</dl>
	</div>
	<div class='child-container'></div>
</div>
