<div id='modalregion'></div>
<div class='task-desktop-actions main_toolbar'>
    <div id='actions_toolbar'></div>
    <div class='errors'></div>
</div>
<div class='task-edit'>
	<div id='file_requirements' class='separate_block border_left_block'></div>
	<div class='general-informations collapsible'></div>
	<div class='common-informations collapsible'></div>
    <div class='composition'></div>
	<div class='notes collapsible'></div>
	<div class='payment-conditions collapsible'></div>
	<div class='payments collapsible'></div>
</div>
