<button class='btn icon{{#unless showLabel}} only{{/unless}} {{css}}' data-action='{{ action }}' title='{{title}}'
        type='{{type}}'>
	<icon></icon>
    {{#if showLabel}}
    {{ label }}
    {{/if}}
</button>
