<div class='form-group'>
    {{#if title}}
    <label for="{{tagId}}">{{title}}</label>
    {{/if}}
    {{#if editable}}
        <div class='checkbox'>
            <label>
            <input 
                id="{{tagId}}"
                type='checkbox'
                name='{{ field_name }}'
                value='true'
                aria-label='{{ariaLabel}}'
                {{#if checked}}checked{{/if}} 
            /> {{inline_label}}
            </label>
        </div>
        {{#if description}}
        <span class='help-block'>{{ description }}</span>
        {{/if}}
    {{else}}
        <div>{{label}}</div>
    {{/if}}
</div>
