{{#if editable}}
    <div class='form-group date'>
        {{#if label}}
<label for="{{tagId}}">
    {{label}}
    {{#if required}}
    <span class='req'>*</span>
    {{/if}}
</label>
{{/if}}
        <input id="{{tagId}}" aria-label="{{ariaLabel}}" class="form-control" name="altdate" type="text" autocomplete="off" />
        <input class="form-control" name="{{ field_name }}" type="hidden" />
        {{#if description}}
        <span class='help-block'>{{ description }}</span>
        {{/if}}
    </div>
{{else}}
    <div class='form-group date'>
        <label>Date</label>
        <div class='form-control'>
            {{ date }}
        </div>
    </div>
{{/if}}
