{{#if label}}
<label for="{{tagId}}">
    {{label}}
    {{#if required}}
    <span class='req'>*</span>
    {{/if}}
</label>
{{/if}}
<input
       id="{{tagId}}"
       class='form-control {{css_class}}'
       type='{{type}}'
       value='{{value}}'
       name="{{field_name}}"
       {{#unless editable}}disabled{{/unless}}
       aria-label='{{ariaLabel}}'
       placeholder="{{placeholder}}"
       {{#if dataList}}list="{{uniqueId}}"{{/if}}
       {{#unless editable}}disabled{{/unless}}
       ></input>

{{#if description}}
<span class='help-block'>{{description}}</span>
{{/if}}
{{#if editable}}
{{#if dataList }}
<datalist id="{{ uniqueId }}">
    {{#each dataList }}
    <option value="{{this}}">
        {{/each}}
</datalist>
{{/if}}
{{/if}}

{{#if dataList }}
<datalist id="{{ uniqueId }}">
    {{#each dataList }}
    <option value="{{this}}">
        {{/each}}
</datalist>
{{/if}}
