<form action="{{ option.url }}"  method="post" class="btn-container">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    <button
        type="submit"
        class='btn {{ option.css }}'
        title="{{ option.title }}">
        {{#if option.icon}}
            <svg><use href="/static/icons/endi.svg#{{option.icon}}"></use></svg>
        {{/if}}
        {{option.label}}
    </button>
</form>
