{{#if label}}
<label for="{{tagId}}">
    {{label}}
    {{#if required}}
    <span class='req'>*</span>
    {{/if}}
</label>
{{/if}}
<select
        id="{{tagId}}"
        {{#if multiple}}multiple{{/if}}
        name='{{field_name}}'
        {{#unless editable}}disabled{{/unless}}
        placeholder='{{ placeholder }}'
        aria-label='{{ ariaLabel }}'
        title='{{title}}'
        >
    {{#each options}}
    <option value='{{lookup this ../id_key }}' {{#if selected}}selected{{/if}}>{{lookup this ../label_key}}</option>
    {{/each}}
</select>
{{#if description}}
<span class='help-block'>{{ description }}</span>
{{/if}}
