{{#if editable }}
    {{#if title}}
    <label for="{{ tagId }}">
        {{ title }}
        {{#if required}}
<span class='req'>*</span>
{{/if}}
</label>
    {{/if}}
    <textarea
      name='{{field_name}}'
      id="{{tagId}}"
      class='form-control'
      rows='{{ rows }}'
      aria-label='{{ariaLabel}}'
      {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}
    >{{ value }}</textarea>
{{else}}
    {{ value }}
{{/if}}
