<label>{{ options.label }}</label>
<div class='icon_choice' data-toggle="buttons">
	<div class="toggle-buttons layout flex">
	{{#each buttons }}
		<label title="{{this.label}}" aria-label="{{this.label}}" class="{{ this.css }} {{#if this.selected}}active{{/if}}">
			<input type="radio" name="{{ ../field_name }}" value="{{ this.value }}" {{#if this.selected}} checked="checked" {{/if}} class="visuallyhidden">
			<span>
				<svg><use href="/static/icons/endi.svg#{{ this.icon }}"></use></svg>
				<span>{{this.label}}</span>
			</span>
		</label>
	{{/each}}
	</div>
</div>
