<div>
    {{#if buttons}}
    {{#each buttons}}
        <button
            class='btn btn-status {{ this.css }}'
            title="{{ this.title }}"
            data-url='{{ this.url }}'
            data-title='{{ this.title }}'
            data-label='{{ this.label }}'
            data-status='{{ this.status }}'>
            {{#if this.icon}}
                <svg><use href="/static/icons/endi.svg#{{this.icon}}"></use></svg>
            {{/if}}
            {{this.label}}
        </button>
    {{/each}}
    {{/if}}
    <div id='more-actions' class='more_actions'></div>
</div>
