<span class="icon_label">
    {{# if customer_label }}
        <span class="icon" aria-label="Client" title="Client">
            <svg><use href="/static/icons/endi.svg#user"></use></svg>
            {{{ customer_label }}}
        </span>
    {{else}}
        rien
    {{/if}}
    {{# if project_label }}
        <br />
        <span class="icon" aria-label="Dossier" title="Dossier"
        ><svg><use href="/static/icons/endi.svg#folder"></use></svg>
        </span>
        {{{ project_label }}}
    {{/if}}
    {{# if business_label }}
        <br />
        <span class="icon" aria-label="Affaire" title="Affaire">
            <svg><use href="/static/icons/endi.svg#hands-helping"></use></svg>
        </span>
        {{{ business_label }}}
    {{/if}}
</span>
