<td class='col_select radio'></td>
<td class='col_text'>
    {{label}} {{#if ref}}({{ref}}){{/if}}
</td>
<td class='col_text'>
    <small>{{{description}}}</small>
</td>
<td class='col_number'>
    {{{ht_label}}}
</td>