<form autocomplete="off">
    <h2>
        Retrouver un produit du catalogue
    </h2>
    <div class='form-actions'>
        <button class='btn btn-primary icon' type='button' value='insert' disabled='true' aria-disabled='true'><svg><use href="/static/icons/endi.svg#save"></use></svg>Insérer
        </button>
        <button class='btn icon negative' type='reset' value='cancel'><svg><use href="/static/icons/endi.svg#times"></use></svg>Annuler
        </button>
    </div>
    <div class='main'></div>
</form>