{{#if collapsed}}
<h2 class="title collapse_title">
	<a
		data-target="#payment-conditions-content"
		data-toggle="collapse"
		aria-expanded="false"
		aria-controls="payment-conditions-content"
		>
		<svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
		Conditions de paiement
	</a>
</h2>
{{else}}
<h2 class="title">Conditions de paiement</h2>
{{/if}}
<div {{#if collapsed}}class="collapse_content"{{/if}}>
	<div id="payment-conditions-content" {{#if collapsed}}class='content collapse' aria-expanded="false"{{/if}}>
	<div class='content'>
		<div class='errors'></div>
		<div class='predefined-conditions'></div>
		<div class='conditions'></div>
	</div>
</div>
