body.endi .item {
}
@media ( min-width: $wideWidth ) {
	body.endi .item {
	}
}
@media ( max-width: $wideWidth ) {
	body.endi .item {
	}
}
@media ( max-width: $desktopWidth ) {
	body.endi .item {
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi .item {
	}
}