$transparentBg: rgba(0,0,0,0);

// white
$white: rgb(255,255,255);
$suggestTransWhite: rgba(255,255,255,.95);
$transWhite: rgba(255,255,255,.8);
$midFadedWhite: rgba(255,255,255,.5);
$fadedWhite: rgba(255,255,255,.2);
$veryFadedWhite: rgba(255,255,255,.18);

// black
$black: rgb(0,0,0);
$transBlack: rgba(0,0,0,.8);
$midFadedBlack: rgba(0,0,0,.5);
$fadedBlack: rgba(0,0,0,.2);

// grey
$darkGrey: rgb(117,117,117);
$midGrey: rgb(128,128,128); // ! on white
$lightGrey: rgb(176,176,176); // ✗ on white
$veryLightGrey: rgb(230,230,230); // not for text, equals fadedGrey without transparency
$transGrey: rgba(128,128,128,.8); // not for text
$midFadedGrey: rgba(128,128,128,.5); // not for text
$fadedGrey: rgba(128,128,128,.2); // not for text
$veryFadedGrey: rgba(128,128,128,.05); // not for text
$evenOddGrey: rgba(128,128,128,.05); // not for text
$focusGrey: rgba(128,128,128,.01); // not for text

// green
$darkGreen: rgb(6,98,67); // ✗ on black
$midGreen: rgb(16,160,102); // ! on white, funcPositive
$lightGreen: rgb(29,230,126); // ✗ on white
$transGreen: rgba(16,160,102,.8); // not for text
$midFadedGreen: rgba(16,160,102,.5); // not for text
$fadedGreen: rgba(16,160,102,.2); // not for text
$veryFadedGreen: rgba(16,160,102,.05); // not for text

$hoverGreen: rgba(29,230,126,.1); // not for text

// acid
$darkAcid: rgb(104,124,0);
$midAcid: rgb(158,186,10); // ✗ on white
$lightAcid: rgb(206,241,24); // ✗ on white
$transAcid: rgba(206,241,24,.8); // not for text
$midFadedAcid: rgba(206,241,24,.5); // not for text
$fadedAcid: rgba(206,241,24,.2); // not for text
$veryFadedAcid: rgba(206,241,24,.05); // not for text

// red
$darkRed: rgb(155,0,31); // ✗ on black, darkFuncNegative
$midRed: rgb(225,20,0); // ! on black, funcNegative
$lightRed: rgb(255,150,0); // ✗ on white, funcCaution

// blue
$darkBlue: rgb(0,92,152); // ✗ on black
$midBlue: rgb(0,122,177); // ! on black, funcNeutral
$lightBlue: rgb(0,163,203); // ✗ on white
$greyedBlue: rgb(103,119,126);
$transBlue: rgba(0,122,177,.8); // not for text
$midFadedBlue: rgba(0,122,177,.5); // not for text
$fadedBlue: rgba(0,122,177,.2); // not for text
$hoverBlue: rgba(0,122,177,.1); // not for text
$veryFadedBlue: rgba(0,122,177,.05); // not for text

$veryLightBlue: rgb(33,205,247); // ✗ on white


// functional
$funcPositive: rgb(16,160,102); // ! on white
$transPositive: rgba(16,160,102,.8);
$midFadedPositive: rgba(16,160,102,.5);
$fadedPositive: rgba(16,160,102,.2);
$veryFadedPositive: rgba(16,160,102,.05);

$funcNegative: rgb(225,20,0); // ! on black
$transNegative: rgba(225,20,0,.8);
$midFadedNegative: rgba(225,20,0,.5);
$fadedNegative: rgba(225,20,0,.2);
$veryFadedNegative: rgba(225,20,0,.05);

$darkFuncNegative: rgb(155,0,31); // ✗ on black, used when negative-positive differenciation must be stronger to allow for daltonism.

$funcCaution: rgb(255,150,0); // ✗ on white
$transCaution: rgba(255,150,0,.8);
$midFadedCaution: rgba(255,150,0,.5);
$fadedCaution: rgba(255,150,0,.2);
$veryFadedCaution: rgba(255,150,0,.05);

$funcNeutral: rgb(0,122,177); // ! on black
$transNeutral: rgba(0,122,177,.8);
$midFadedNeutral: rgba(0,122,177,.5);
$fadedNeutral: rgba(0,122,177,.2);
$veryFadedNeutral: rgba(0,122,177,.05);

// sizes
$simpleLine: 1px;
$menuBorder: 5px;
$menuHorPadding: 40px; // left padding
$menuLinkPadding: $menuHorPadding - $menuBorder;
$contentHorPadding: 30px;
$contentVerPadding: 10px;
$unitPadding: 5px;

$iconSize: 32px;
$midIconSize: 24px;
$smallIconSize: 16px;

// debug
$check: rgba(255,0,0,.5);

// layers (z-index values)
$contentLayer: 5;
$stickyContentLayer: 8;
$actionLayer: 10;
$headerLayer: 12;
$floatingLayer: 20;
$floatingLayerContent: 21;
$floatingMenuLayer: 25;
$maskLayer: 30;
$aboveMaskLayer: 35;
$popinLayer: 40;
$abovePopinLayer: 45;
$spinner: 50;

// breakpoints
$mobileWidth: 500px;
$tabletMinWidth: 501px;
$tabletWidth: 800px;
$desktopMinWidth: 801px;
$desktopWidth: 1024px;
$wideWidth: 1200px;
$extrawideWidth: 1400px;

// pdf export
$print_fontsize: 9pt;
$print_table_fontsize: 8pt;
$small_print_fontsize: 7pt;
$big_print_fontsize: 11pt;
$print_unitPadding: .1cm;
$print_veryFadedGrey: #f9f9f9;
$print_fadedGrey: #808080;