// dashboard page blocks
@import './variables';

body.endi {
	&.manage-view,
	&.company_index-view {
		.page-header-block .message {
			padding-top: $contentVerPadding*2;
		}
		ul.activities {
			padding-bottom: $unitPadding*2;
			a {
				color: $black;
				display: flex;
				font-size: .825rem;
				justify-content: space-between;
				flex-direction: row-reverse;
				line-height: 1.5;
				text-decoration: none;
				&:hover,
				&:focus,
				&:active {
					text-decoration: underline;
				}
			}
			.activity_time {
				padding-left: $unitPadding*2;
				white-space: nowrap;
			}
		}
	}
	.dashboard {
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 0 -$unitPadding*2;
		.columns {
			column-count: 2;
			padding-bottom: $unitPadding*4;
			padding-top: $unitPadding*2;
		}
		.dash_elem {
			background: $white;
			box-shadow: 0 0 5px $lightGrey;
			display: inline-block;
			margin: $unitPadding*2;
			page-break-inside: avoid;
			-webkit-break-inside: avoid;
			break-inside: avoid;
			width: calc( 100% - 20px );
	// 		&.empty {
	// 			align-items: center;
	// 			border: 1px dashed $fadedGrey;
	// 			justify-content: center;
	// 		}
			h2 {
				page-break-before: avoid;
				-webkit-break-before: avoid;
				break-before: avoid;
			}
			p.message,
			ul {
				margin: $unitPadding $unitPadding*2;
			}
			.panel-body > p {
				margin: 0 $unitPadding*2;
			}
		}
		.alert {
			margin: $unitPadding*2 $unitPadding*2 $unitPadding*4;
		}
		h2 {
			align-items: center;
			border-bottom: 1px solid $fadedGrey;
			display: flex;
			height: 2.4em;
			line-height: 1;
			overflow: hidden;
			padding-right: 1.2em;
			position: relative;
			.icon:first-child {
				background: $black;
				flex: 0 0 auto;
				height: 2.5em;
				width: 2.5em;
				svg {
					display: block;
					fill: $white;
					height: 2em;
					margin: .5em;
					width: 2em;
				}
			}
			.icon.caution:first-child {
				background: $funcCaution;
			}
			.icon.invalid:first-child {
				background: $funcNegative;
			}
			.icon.close {
				right: 0;
				position: absolute;
				top: 0;
			}
			span:nth-child(2):not(.icon),
			a {
				display: block;
				padding-left: 5px;
				width: calc( 100% - 48px );
			}
			a {
				color: $black;
				svg {
					opacity: .05;
					vertical-align: bottom;
				}
				&:hover,
				&:focus,
				&:active {
					text-decoration: none;
					svg {
						fill: $lightGreen;
						opacity: 1;
					}
				}
			}
		}
// 		h3 {
// 			margin: $unitPadding*2 $unitPadding*2 0;
// 			+ table {
// 				margin-top: 0;
// 			}
// 		}
// 		ul {
// 			list-style-type: none;
// 			padding: $unitPadding*2;
// 			&.events {
// 				li {
// 					border-bottom: 1px solid $veryFadedGrey;
// 					padding-bottom: $unitPadding*2;
// 				}
// 				h3 {
// 					margin: $unitPadding*2 0 $unitPadding;
// 				}
// 			}
// 			&.favourites {
// 				align-items: center;
// 				flex-wrap: wrap;
// 				font-size: .875rem;
// 				justify-content: center;
// 				button {
// 					display: flex;
// 					flex-direction: column;
// 					height: 144px;
// 					justify-content: space-around;
// 					margin: 5px;
// 					text-align: center;
// 					width: 144px;
// 					svg {
// 						height: 64px;
// 						fill: $black;
// 						flex: 0 0 auto;
// 						margin: 6px auto;
// 						width: 64px;
// 					}
// 					&:hover,
// 					&:focus,
// 					&:active {
// 						box-shadow: 0 2px 4px $midGrey;
// 					}
// 				}
// 			}
// 			&.social_wall {
// 				li {
// 					display: flex;
// 					padding-bottom: 10px;
// 				}
// 				img {
// 					flex: 0 0 auto;
// 					height: 64px;
// 					margin: 0 10px 5px 0;
// 					width: 64px;
// 				}
// 				h5 {
// 					margin-top: 0;
// 				}
// 				time {
// 					color: $lightGrey;
// 					font-size: .725rem;
// 				}
// 			}
// 		}
// 		table ul {
// 			list-style-type: square;
// 			padding: 0;
// 			li {
// 				padding: 2px 0;
// 			}
// 		}
// 		.search_form {
// 			padding: $unitPadding $unitPadding*2;
// 		}
// 		.progress_indicator {
// 			margin: 0 $unitPadding*2;
// 		}
// 		.calendar_top {
// 			padding: $unitPadding $unitPadding*2;
// 		}
		table {
			margin: $unitPadding*2 $unitPadding;
			width: calc( 100% - 10px );
// 			tfoot td {
// 				padding-top: $unitPadding*2;
// 			}
		}
// 		.table_chart {
// 			.pie_chart {
// 				padding: $unitPadding;
// 				width: 150px;
// 				svg {
// 					height: auto;
// 					width: 100%;
// 				}
// 			}
// 		}
	}
	.main_toolbar + .dashboard {
		padding-top: $unitPadding*2;	
	}
}
// @media ( min-width: $wideWidth ) {
// 	body.endi .dashboard {
// 		.table_chart {
// 			table {
// 				width: calc( 100% - 180px );
// 			}
// 		}
// 		.pie_chart {
// 			padding-right: $unitPadding*5;
// 			width: 170px;
// 		}
// 	}
// }
@media ( min-width: $extrawideWidth ) {
	body.endi .dashboard {
		.columns {
			column-count: 3;
		}
	}
}
// @media ( min-width: $desktopWidth ) {
// 	body.endi .dashboard {
// 		.dash_elem {
// 			min-height: 250px;
// 		}
// 		.calendar_top {
// 			padding: $unitPadding $unitPadding*2;
// 			div {
// 				width: 50%;
// 				&:last-child {
// 					text-align: right;
// 				}
// 			}
// 		}
// 	}
// }
// @media ( max-width: $desktopWidth ) {
// 	body.endi .dashboard {
// 		.col {
// 			width: calc( 100% - 20px);
// 		}
// 		.calendar_top {
// 			div {
// 				padding-bottom: $unitPadding*2;
// 			}
// 		}
// 	}
// }
// @media ( min-width: $tabletWidth ) {
// 	body.endi .dashboard {
// 		.table_chart {
// 			align-items: center;
// 			justify-content: space-between;
// 			table {
// 				width: calc( 100% - 160px );
// 			}
// 		}
// 	}
// }
@media ( min-width: $tabletWidth ) {
	body.endi .dashboard {
		.col {
			width: 50%;
// 			&:nth-child(2n + 1) {
// 				padding-right: $unitPadding;
// 			}
// 			&:nth-child(2n) {
// 				padding-left: $unitPadding;
// 			}
		}
// 		ul.favourites {
// 			a {
// 				height: 112px;
// 				width: 112px;
// 				svg {
// 					height: 32px;
// 					margin: 5px 30px;
// 					width: 32px;
// 				}
// 			}
// 		}
// 		.table_chart {
// 			align-items: center;
// 			justify-content: space-between;
// 			table {
// 				width: calc( 100% - 10px);
// 			}
// 			.pie_chart {
// 				margin: $unitPadding auto;
// 			}
// 		}
	}
}
@media ( max-width: $tabletWidth ) {
	body.endi .dashboard {
		padding-top: $unitPadding*2;
		.columns {
			column-count: 1;
		}
		.col {
			width: 100%;
		}
// 		table {
// 			thead th {
// 				display: none;
// 			}
// 		}
	}
}
body.endi.theme_manage_people .dashboard {
	h2 .icon:first-child {
		background: $darkBlue;
	}
	h2 .icon.caution:first-child {
		background: $funcCaution;
	}
	h2 .icon.invalid:first-child {
		background: $funcNegative;
	}
}
body.endi.theme_manage_entity .dashboard {
	h2 .icon:first-child {
		background: $veryLightBlue;
		svg {
			fill: black;
		}
	}
	h2 .icon.caution:first-child {
		background: $funcCaution;
	}
	h2 .icon.invalid:first-child {
		background: $funcNegative;
	}
}
