// pdf export
@import '_variables';

@page{
    margin: 1cm;
}

html {
    font-size: $print_fontsize;
    position: relative;
    font-family: Helvetica;
    font-size: 10px;
    font-weight: normal;
    color: #000000;
    background-color: transparent;
    margin: 0;
    padding: 0;
    line-height: 150%;
    border: 1px none;
    display: inline;
    width: auto;
    height: auto;
    white-space: normal;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    pre,
    hr {
        margin:1em 0;
    }
    sup{
        font-size: .625em;
    }
}
header.task_header{
    position: relative;
 	height: 6.5cm;
    .pdf_logo {
        border: 0 none $white;
        width: auto;
        td {
            border: 0 none $white;
            text-align: left;
            vertical-align: middle;
            &.logo_cell {
                height: 4.25cm;
                overflow: hidden;
                width: 4.25cm;
            }
        }
        .logo_img {
            height: auto;
            width: 4cm;
        }
    }
    .pdf_address_block {
        display: block;
        /* Haut : 2cm + 1.5cm de marge d'impression */
        /* gauche : 9.5cm */
        margin: .25cm 2cm 0 9.5cm;
        position: absolute;
    }
}
main{
    position: relative;
    display: block;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 1cm;
}


.pdf_information {
	margin-right: 11cm;
	width: 10cm;
	h3 {
		font-size: $big_print_fontsize;
		margin: 0;
		padding: $print_unitPadding/2 0 0;
	}
	.coop_header {
		border: .25pt solid $print_fadedGrey;
		margin: $print_unitPadding/2 0;
		padding: $print_unitPadding;
	}
}
.pdf_spacer {
	font-size: 2pt;
}
table {
    width: 100%;
	border-collapse: collapse;
	border: .5pt solid $print_fadedGrey;
	tr:nth-child(2n+1) {
		background: none !important;
	}
}
th,
td {
	border: .5pt solid $print_fadedGrey;
	font-size: $print_table_fontsize;
	padding: $print_unitPadding $print_unitPadding/2 $print_unitPadding/4;
	vertical-align: top;
}
.col_text {
	hyphens: auto;
	overflow-wrap: break-word;
	text-align: left;
}
.col_number,
.col_text.align_right {
	text-align: right;
}
.col_date {
	width: 4cm;
}
.price,
.price_total {
	width: 3cm;
}
.price_total {
	background: $print_veryFadedGrey;
}
.unity {
	width: 2.25cm;
}
.quantity {
	width: 1.5cm;
}
.tva {
	width: 2cm;
}
.screen-reader-text {
	display: none;
}
.payment_conditions {
	+ table {
		th {
			text-align: left;
		}
	}
}
.pdf_mention_block {
    break-inside: avoid;
	h4 {
		background: $print_veryFadedGrey;
		border: .5pt solid $print_fadedGrey;
		border-width: .5pt .5pt 0;
		margin: $print_unitPadding*2 0 0;
		padding: $print_unitPadding $print_unitPadding 0;
	}
	p {
		border: .5pt solid $print_fadedGrey;
		border-width: 0 .5pt .5pt;
		margin: 0;
		padding: $print_unitPadding*2 $print_unitPadding $print_unitPadding/2;
	}
}
.pdf_sign_block {
	margin-bottom: $print_unitPadding*4;
	margin-left: 11cm;
	width: 7cm;
    break-inside: avoid;
	.pdf_sign_block_width {
		h4 {
			background: $print_veryFadedGrey;
			border: .5pt solid $print_fadedGrey;
			border-width: .5pt .5pt .25pt;
			border-bottom-style: dashed;
			margin: $print_unitPadding*2 0 0;
			padding: $print_unitPadding $print_unitPadding 0;
		}
		p {
			border: .5pt solid $print_fadedGrey;
			margin: 0;
			padding: $print_unitPadding*3 $print_unitPadding $print_unitPadding*2;
		}
		.date {
			border-width: 0 .5pt;
		}
		.signature {
			border-width: .25pt .5pt .5pt;
			padding-bottom: 2cm;
		}
	}
}
.pdf_footer {
	background: $print_veryFadedGrey;
	font-size: $small_print_fontsize;
	margin: 0;
	text-align: center;
	p:last-child {
		padding-bottom: 0;
	}
}
.cgv-container{
    bookmark-level: 1;
    bookmark-label: "CGV";
    break-before: always;
    .pdf_cgv {
        margin-top: 1cm;
        font-size: $small_print_fontsize;
        padding: 0;
        text-align: justify;
    }
    h1, h2, h3, h4, h5{
	    margin: .1cm;
    }
}

.pdf_page_number{
	margin: 0;
	text-align: center;
}
/* Atelier et Rendez-vous */
.workshop_view, .activity_view {
	td.col_text.description {
		vertical-align: middle;
	}
    header{
        position: relative;
        img{
            max-width: 100%;
        }
    }
    main{
    }
	.pdf_title_block {
		text-align: center;
		h1 {
		}
		h2 {
			margin: 0;
			padding: 0;
		}
		p {
			margin: 0;
			padding: 0;
		}
	}
}
.activity-view{
    .activity-title{
        border-bottom: .5pt solid $print_fadedGrey;
        font-weight: 500;
        margin: .2cm 0 .1cm;
        padding: 0;
    }
    .activity-content{
        padding-left: .5cm;
    }
	.activity_people {
		font-size: 9pt;
	}
}
/* !!! Le footer est en dehors du html du contenu <html></html><footer></footer> !!!*/
footer.activity_footer, footer.workshop_footer{
    text-align: left;
    img{
        max-width: 100%;
        height: 2cm;
        width: auto;
    }
}
.upper{
	text-transform: uppercase;
}
.description ul{
	margin-bottom: 3px;
}
.description li, .description p, .description div{
	margin: 0;
	padding: 0;
	font-size: $print_table_fontsize;
	line-height: 1.2;
	vertical-align: middle;
}
.description p{
	margin: 2px 0px;
}
