// user account pages
@import './variables';

body.endi {
	.user_header {
		.user_avatar {
			clip-path: circle(48px);
			height: 96px;
			margin: 0 $unitPadding*4 0 $unitPadding*2;
			width: 96px;
			svg {
				height: 72px;
				margin: 24px 12px 0;
				width: 72px;
			}
		}
		.btn {
			margin-left: $unitPadding*4;
		}
		p {
			padding-bottom: $unitPadding*2;
		}
		.highlight {
			padding: 2px .5em;
		}
		+ .layout.flex {
			margin-top: $unitPadding*8;
		}
	}
	.user_dashboard {
		.separate_bottom {
			align-items: center;
			margin: 0;
			padding: $unitPadding*2 0;
		}
		p + .btn,
		p + .btn-container .btn {
			margin-top: $unitPadding;
		}
	}
	.content_vertical_padding {
		.btn {
			margin: $unitPadding 0;
		}
	}
	.doc_list {
		.form-group {
			width: 50%;
		}
	}
}
