<div class="layout flex content_vertical_padding separate_bottom">
	<div>
		{{ description }} <br /> 
		HT&nbsp;: {{{ ht }}} - TVA&nbsp;: {{{ tva }}} <br />
		{{typelabel}}
	</div>
	<div class="btn-group" role="group" aria-label="actions">
		<ul>
			<li>
				<button class='btn main btn-success insert'><svg><use href="/static/icons/endi.svg#check"></use></svg>Sélectionner</button>
			</li>
			<li>
				<button class='btn negative btn-danger delete'><svg><use href="/static/icons/endi.svg#trash-alt"></use></svg>Supprimer</button>
			</li>
		</ul>
	</div>
</div>
