    <div role="dialog" id="expense-forms" aria-modal="true" aria-labelledby="expense-forms_title">
        <form>
			<div class="modal_layout">
				<header>
					<button tabindex='-1' type="button" class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre">
						<svg><use href="/static/icons/endi.svg#times"></use></svg>
					</button>
					<h2 id="expense-forms_title">Dupliquer une note de dépenses</h2>
				</header>
				<main>
					<div class='separate_top separate_bottom'>
						{{#if is_km_fee}}
						<h3>Note de dépenses kilométriques</h3>
						De {{start}} à {{end}} ( {{description}} )<br />
						Nombre de kilomètres : {{km}} <br />
						Montant remboursé : {{{ttc}}}
						{{else}}
						<h3>Note de dépenses</h3>
						{{description}}<br />
						<div class='expense_totals'>
							<div>
								<div class="layout flex two_cols">
									<div>
										<p>HT&nbsp;: </p>
									</div>
									<div>
										<p><strong>{{{ ht }}}</strong></p>
									</div>
								</div>
							</div>
							<div>
								<div class="layout flex two_cols">
									<div>
										<p>TVA&nbsp;: </p>
									</div>
									<div>
										<p><strong>{{{ tva }}}</strong></p>
									</div>
								</div>
							</div>
						</div>
						{{/if}}
					</div>
					<div class='select layout'></div>
				</main>
				<footer>
					<button
						class='btn btn-primary'
						type='submit'
						value='submit'>
						Dupliquer
					</button>
					<button
						class='btn'
						type='reset'
						value='submit'>
						Annuler
					</button>
				</footer>
			</div>
		</form>
	</div><!-- /#expense-forms -->

