<td class="col_date">{{{ altdate }}}</td>
<td class="col_text">{{ typelabel }}</td>
<td class="col_text">{{ description }}</td>
{{#if is_achat}}
    <td class="col_text"><span class="business-link"></span></td>
{{/if}}
<td class="col_number">{{{ ht_label }}}</td>
<td class="col_number">{{{ tva_label }}}</td>
<td class="col_number">{{{ total }}}</td>
{{#edit}}
<td class='col_actions width_four'>
	<ul>
		<li>
			<button class='btn icon only edit' title='Modifier' aria-label='Modifier'><svg><use href="/static/icons/endi.svg#pen"></use></svg></button>
		</li>
		<li>
			<button class='btn icon only duplicate' title='Dupliquer' aria-label='Dupliquer'><svg><use href="/static/icons/endi.svg#copy"></use></svg></button>
		</li>
		<li>
			<button class='btn icon only bookmark' title='Mettre en favori' aria-label='Mettre en favori'><svg><use href="/static/icons/endi.svg#star-empty"></use></svg></button>
		</li>
		<li>
			<button class='btn icon only negative delete' title='Supprimer' aria-label='Supprimer'><svg><use href="/static/icons/endi.svg#trash-alt"></use></svg></button>
		</li>
	</ul>	
</td>
{{/edit}}
