<form class='form expense-form'>
    <div class='row'>
        <div class='date required col-md-6'></div>
        <div class='category col-md-6'></div>
    </div>
    <div class='type_id required'></div>
    <div class='description required'></div>
    <div class='row'>
        <div class='ht col-md-6'></div>
        <div class='tva col-md-6'></div>
    </div>
    <div class='business_link'></div>
    <button
        class='btn btn-primary'
        type='submit'
        value='submit'>
        {{ title }}
    </button>
    <button
        class='btn'
        type='reset'
        value='submit'>
        Annuler
    </button>
</form>
