{{#edit}}
<div class="layout flex two_cols content_vertical_padding">
{{else}}
<div class="layout flex content_vertical_padding">
{{/edit}}
	<div>
		<h2>
            Dépenses kilométriques
        </h2>
	</div>
    {{#edit}}
    <div class="align_right">
        <button class='btn btn-primary add'>
            <svg><use href="/static/icons/endi.svg#plus"></use></svg>Ajouter une dépense
        </button>
    </div>
    {{/edit}}
</div>
<div class="table_container">
	<table class="opa hover_table top_align_table">
		<thead>
			<tr>
				<th scope="col" class="col_date">Date</th>
				<th scope="col" class="col_text">Type</th>
				<th scope="col" class="col_text">Prestation</th>
				{{#if is_achat}}
					<th scope="col" class="col_text">Rattaché à…</th>
				{{/if}}
				<th scope="col" class="col_text">Départ</th>
				<th scope="col" class="col_text">Arrivée</th>
				<th scope="col" class="col_number">Kms</th>
				<th scope="col" class="col_number">Indemnités</th>
				{{#edit}}
				<th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
				{{/edit}}
		</thead>
		<tbody class='lines'>
		</tbody>
		<tfoot>
			<tr class="row_recap">
				{{#if is_achat}}
					<th scope='row' colspan='6' class='col_text'>Total</th>
				{{else}}
					<th scope='row' colspan='5' class='col_text'>Total</th>
				{{/if}}
				<td class='total_km col_number'></td>
				<td class='total_ttc col_number'></td>
				{{#edit}}
				<td class='col_actions'></td>
				{{/edit}}
			</tr>
		</tfoot>
	</table>
</div>

