<div class="separate_top">
    <div class='messages-container'></div>
    <div class='totals grand-total'></div>
    <div class='form-section'>
        <div class='content'>
            <div class='form-section'>
                <div class='content'>
                    <div class="supplier-invoice"></div>
                    <div class='lines-region'></div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="supplierinvoiceline_form"
         class="modalRegion modal_view size_middle"></section>
