body.endi {
	.select2-container {
		min-width: 9em;
		max-width: 25em;
		.select2-selection {
			background: $white;
			border: 0 none;
			border-bottom: 1px solid $black;
			border-radius: 0;
			color: $black;
			font-size: .875rem;
			line-height: 1.25rem;
			height: 2.5rem;
			padding: $unitPadding*2 0;
			&:focus {
				box-shadow: 0 1px 0 $midFadedGrey, 0 2px 0 $fadedGrey, 0 3px 0 $veryFadedGrey;
			}
			&:hover,
			&:focus {
				text-decoration: none;
			}
			.select2-selection__arrow {
				background: url("../icons/chevron-select.svg") no-repeat 100% 50%;
				background-size: 16px 12px;
				border: 0 none;
				height: 100%;
				b {
					border: 0 none;
				}
			}
// 			abbr {
// 				background: none;
// 				right: 32px;
// 				&::after {
// 					color: $black;
// 					content: "\000D7"; // x
// 					display: block;
// 					font-size: 16px;
// 				}
// 				&:hover::after {
// 					color: $lightGreen;
// 				}
// 			}
		}
		.select2-selection__clear {
			font-size: 1.125rem;
			line-height: 1.125;
			margin: 0;
			padding: 0 4px;
			&:hover,
			&:focus,
			&:active {
				color: $lightGreen;
				text-decoration: none;
			}
		}
		.select2-selection__rendered {
			max-width: 100%;
			.select2-selection__choice {
				border-radius: 0;
			}
			.select2-selection__clear {
				margin-right: 10px;
			}
			.select2-search--inline {
				padding: 0;
				width: 100%;
				input[type="search"] {
					box-shadow: none;
					margin: 0;
					min-width: calc( 100% - 1.5em );
				}
				&::after {
					background: url("../icons/chevron-select.svg") no-repeat 100% 50%;
					background-size: 16px 12px;
					content: "";
					display: inline-block;
					height: 2.5em;
					margin-right: -5px;
					vertical-align: bottom;
					width: 1.5em;	
				}
				&:hover::after,
				&:focus::after {
					background-image: url("../icons/chevron-select-active.svg");
				}
			}
		}
		.select2-selection--multiple {
			height: auto;
			min-height: 40px;
			padding: 0;
			.select2-selection__rendered .select2-selection__choice {
				background: $veryFadedGrey;
				border-color: $fadedGrey;
				border-width: 1px;
				box-shadow: 0 1px 0 $midFadedGrey, 0 2px 0 $fadedGrey, 0 3px 0 $veryFadedGrey;
				padding: $unitPadding/2 $unitPadding;
			}
		}
	}
	.select2-container:not(.select2-container-disabled) {
		.select2-selection {
			&:hover .select2-selection__arrow,
			&:focus .select2-selection__arrow {
				background-image: url("../icons/chevron-select-active.svg");
			}
		}		
	}
	.select2-container.select2-container-disabled {
		.select2-selection {
			border-bottom-color: $fadedGrey;
		}
	}
	.form-group[class*="col-md"],
	.form-group.item-company_manager_id { // données relatives à l’atelier
		.select2-container {
			min-width: 100%;
			max-width: 100%;
		}
	}
	.base_menu {
		nav li > .select2-container {
			border-left-width: 0;
			padding-right: 2px;
			padding-left: 2px;
			max-width: 100%;
			width: 100% !important;
		}
		.select2-selection {
			font-size: .875rem;
			font-weight: bold;
			padding-left: $unitPadding;
			padding-right: $unitPadding;
			div {
				width: 16px;
			}
		}
	}
	.select2-dropdown {
		border: 0 none;
		border-radius: 0;
		box-shadow: 0 0 4px $midGrey;
		.select2-results ul {
			font-size: .875rem;
			list-style-type: none;
			margin-top: $unitPadding;
			ul {
				margin-top: 0;
			}
		}
		.select2-results__option--highlighted {
			background: $black;
		}
		input[type="search"] {
			border-width: 0 0 1px;
		}
		.select2-results__option {
			padding: 4px;
		}
		ul ul .select2-results__option {
			padding-left: 14px;
		}
		.select2-results__group {
			padding: 0 4px;
		}
	}
	select[multiple] + .select2-container {
		max-width: 100%;
		min-width: 100%;
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi {
		.select2-container {
			min-width: calc( 100vw - 30px );
		}
	}
}
body.endi.theme_manage_people {
	.select2-dropdown {
		.select2-results__option--highlighted {
			background: $darkBlue;
		}
	}
}
body.endi.theme_manage_entity {
	.select2-dropdown {
		.select2-results__option--highlighted {
			background: $veryLightBlue;
			color: $black;
		}
	}
}