<form name="current">

    <div class='main_toolbar'>
        <div class="layout flex main_actions">
            <div role='group'>
                <button class='btn btn-primary icon' type='submit' value='submit'>
                    <svg><use href="/static/icons/endi.svg#save"></use></svg>Enregistrer
                </button>
				<button class='icon' type='reset' value='submit' title="Annuler et revenir en arrière" aria-label="Annuler et revenir en arrière">
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>Annuler
                </button>
            </div>
            <div class='resume' role='group'></div>

            <div role='group' class='other_buttons'>
            </div>
        </div>
        <div class='message-container'></div>
        <div class='errors'></div>
    </div>
    <fieldset class='separate_block border_left_block'>
        <h2 class='title'>Informations internes</h2>
        <div class='layout flex'>
            <div class='field-label col-md-4'></div>
            <div class='field-category_id col-md-4'></div>
            <div class='field-ref col-md-4'></div>
        </div>
        <div class='layout flex'>
            <div class='field-general_overhead col-md-6'></div>
            <div class='field-margin_rate col-md-6'></div>
        </div>
        <div class='field-type_'></div>
    </fieldset>

    <fieldset class='separate_block border_left_block'>
        <h2 class='title'>Vente</h2>
        {{#if complex}}
        <div class='field-title'></div>
        {{/if}}
        <div class='field-description'></div>
        <div class='layout flex'>
            {{#unless complex}}
            <div class='field-ht col-md-3'></div>
            {{/unless}}
            <div class='field-unity col-md-3'></div>
            <div class='field-tva_id col-md-3'></div>
            <div class='field-product_id col-md-3'></div>
        </div>
    </fieldset>

    {{#unless complex}}
    <fieldset class='separate_block border_left_block'>
        <h2 class='title'>Achat</h2>
        <div class='layout flex'>
            <div class='field-supplier_id col-md-4'></div>
            <div class='field-supplier_ref col-md-4'></div>
            <div class='field-supplier_unity_amount col-md-4'></div>
        </div>
        <div class='layout flex'>
            <div class='field-supplier_ht col-md-4'></div>
        </div>
    </fieldset>
    {{/unless}}

    {{^service_form}}
    <span class='stocks'></span>
    {{/service_form}}

    {{#if complex }}
    <span class='items'></span>
    {{/if}}

    <fieldset class='separate_block border_left_block'>
        <h2 class='title'>Notes</h2>
        <div class='field-notes'></div>
    </fieldset>

    {{#if training_form}}
    <fieldset class='separate_block border_left_block'>
        <h2 class='title'>Formation</h2>
        <div class="field-goals"></div>
        <div class="field-prerequisites"></div>
        <div class="field-for_who"></div>
        <div class="field-duration"></div>
        <div class="field-content"></div>
        <div class="field-teaching_method"></div>
        <div class="field-logistics_means"></div>
        <div class="field-more_stuff"></div>
        <div class="field-evaluation"></div>
        <div class="field-place"></div>
        <div class="field-modality_one"></div>
        <div class="field-modality_two"></div>
        <div class="field-types"></div>
        <div class="field-date"></div>
        <div class="field-price"></div>
        <div class="field-free_1"></div>
        <div class="field-free_2"></div>
        <div class="field-free_3"></div>
    </fieldset>
    {{/if}}

</form>
