<h2 class="collapse_title">
    <a href="#filter-form" data-toggle="collapse" aria-expanded="true" aria-controls="filter-form">
        <span class="icon"><svg><use href="/static/icons/endi.svg#search"></use></svg></span>
        Recherche
        <svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
    </a>
</h2>
<div class="collapse_content">
    <div id="filter-form" class="collapse in" aria-expanded="true">
        <form class='form-search'>
            <div class='field-type_'></div>
            <div class='field-name'></div>
            <div class='field-category-id'></div>
            <div class='field-ref'></div>
            <div class='field-supplier-id'></div>
            <div>
                <button class='btn btn-primary' type='submit'>Filtrer</button>
            </div>
        </form>
    </div>
</div>