<div class='main_content'>
    <div class='main_toolbar'>
        <div class="layout flex main_actions">
            <button class='btn btn-primary icon' type='button' value='add'>
                <svg><use href="/static/icons/endi.svg#plus"></use></svg>
                Ajouter</button>
        </div>
    </div>
    <div class='message-container'></div>

    <div class='layout flex two_cols quarter_reverse'>
        <div>
            <div class='collapsible search_filters'></div>
            <div class='table_container' />
        </div>
        <div class='category-container context_help'></div>
    </div>
</div>