<div>
{{ totalRecords }} élément(s)
</div>
<table class='hover_table'>
    <capion class='screen-reader-text'>Liste des produits du catalogue</capion>
    <thead>
        <th class='col_text'></th>
        <th class='col_text' scope='col'>Nom</th>
        <th class='col_text' scope='col'>Référence</th>
        <th class='col_text' scope='col'>Fournisseur</th>
        <th class='col_text' scope='col'>Catégorie</th>
        <th class='col_number' scope='col'>Stock</th>
        <th class='col_number' scope='col'>Coût</th>
        <th class='col_number' scope='col'>Prix de vente</th>
        <th class='col_text' scope='col'>Unité</th>
        <th class='col_text' scope='col'>TVA</th>
        <th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="pager">
	{{#if hasPreviousPage }}
	<button class='navigation' data-event-type='firstpage' title="Première page" aria-label="Première page"><<</button>
	<button class='navigation' data-event-type='previouspage' title="Page précédente" aria-label="Page précédente"><</button>
	{{/if}}
	<span class="current" title="Page en cours" aria-label="Page en cours">{{ currentPage}}</span>
	{{#if hasNextPage }}
	<button class='navigation' data-event-type='nextpage' title="Page suivante" aria-label="Page suivante">></button>
	<button class='navigation' data-event-type='lastpage' title="Denière page ({{ totalPages }})" aria-label="Denière page ({{ totalPages }})">>></button>
	{{/if}}
</div>

