<h1>
	Génération de fichier
	<button class='btn icon only unstyled' onclick="win.close();" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre">
		<svg><use href="/static/icons/endi.svg#times"></use></svg>
	</button>
</h1>
<div class="popup_content">
	<div class='content_vertical_padding'>
		<dl class="dl-horizontal">
			<dt>Identifiant de la tâche</dt><dd>{{ jobid }}</dd>
			<dt>Initialisée le</dt><dd>{{ created_at }}</dd>
			<dt>Mise à jour le</dt><dd>{{ updated_at }}</dd>
		</dl>
	</div>
	<div class='content_vertical_padding separate_bottom'>
	{{#if waiting }}
        <div class="alert status">
            <span class="icon big"><svg><use href="/static/icons/endi.svg#clock"></use></svg></span>
            <p>
            	<b>La génération est en attente de traitement</b>
            </p>
	{{else}}
    	{{#if running}}
        <div class="alert status alert-info">
            <span class="icon big spin"><svg><use href="/static/icons/endi.svg#cog"></use></svg></span>
            <p>
            	<b>La génération est en cours…</b>
            </p>
	    {{else}}
    	    {{#if failed}}
        <div class="alert status alert-danger">
            <span class="icon big"><svg><use href="/static/icons/endi.svg#danger"></use></svg></span>
            <p>
	            <b>La génération de fichier a échoué</b>
            </p>
        	{{else}}
        <div class="alert status alert-success">
             <span class="icon big"><svg><use href="/static/icons/endi.svg#check"></use></svg></span>
            <p>
	            <b>La génération de fichier s'est déroulée avec succès</b>
            </p>
	        {{/if}}
    	{{/if}}
	{{/if}}
	{{#if finished}}
		{{#if filename}}
			<script type='text/javascript'>
				var win = window.open("/cooked/{{ filename }}", "_self");
				// setTimeout(function(){win.close(); window.close()}, 1000);
			</script>
			<br>
			<a href="/cooked/{{ filename }}" target="_blank" class="btn btn-primary">
				<svg><use href="/static/icons/endi.svg#file-download"></use></svg>
				Télécharger
			</a>
		{{/if}}
	{{/if}}
        </div>
    </div>
	{{#if finished}}
	<div class='content_vertical_padding'>
		<div class='layout flex two_cols'>
			<div>
			{{#if has_message}}
				<h4>Messages</h4>
				{{ message }}
			{{/if}}
			</div>
			<div>
			{{#if has_err_message}}
				<h4>Erreurs</h4>
				{{ err_message }}
			{{/if}}
			</div>
		</div>
	</div>
	{{/if}}
</div>
