<h1>
	Envoi de document par mail
</h1>
<div class="popup_content">
	<div class='content_vertical_padding'>
		<dl class="dl-horizontal">
			<dt>Identifiant de la tâche</dt><dd>{{ jobid }}</dd>
			<dt>Initialisée le</dt><dd>{{ created_at }}</dd>
			<dt>Mise à jour le</dt><dd>{{ updated_at }}</dd>
		</dl>
	</div>
	<div class='content_vertical_padding separate_bottom'>
	{{#if waiting }}
        <div class="alert status">
            <span class="icon big"><svg><use href="/static/icons/endi.svg#clock"></use></svg></span>
            <p>
	            <b>L’envoi est en attente de traitement</b>
            </p>
	{{else}}
    	{{#if running}}
        <div class="alert status alert-info">
            <span class="icon big spin"><svg><use href="/static/icons/endi.svg#cog"></use></svg></span>
            <p>
	            <b>L’envoi est en cours…</b>
            </p>
	    {{else}}
    	    {{#if failed}}
        <div class="alert status alert-danger">
            <span class="icon big"><svg><use href="/static/icons/endi.svg#danger"></use></svg></span>
            <p>
	            <b>L’envoi a échoué</b>
            </p>
        	{{else}}
        <div class="alert status alert-success">
             <span class="icon big"><svg><use href="/static/icons/endi.svg#check"></use></svg></span>
            <p>
	            <b>L’envoi s'est déroulé avec succès</b>
            </p>
			{{/if}}
		{{/if}}
	{{/if}}
		</div>
	</div>
{{#if finished}}
	<div class='content_vertical_padding'>
		<div class='layout flex two_cols'>
			<div>
				<h4>Messages</h4>
				{{ message }}
				{{^has_message}}
				<em>Aucun message n’a été retourné</em>
				{{/has_message}}
			</div>
			<div>
				<h4>Erreurs</h4>
				{{ err_message }}
				{{^has_err_message }}
				<em>Aucune erreur n’a été retournée</em>
				{{/has_err_message }}
			</div>
	    </div>
	</div>
{{/if}}
</div>
