<section id="work_form" class="size_middle">
    <div role="dialog" id="work-forms" aria-modal="true" aria-labelledby="work-forms_title">
        <div class='modal_layout'>
            <header>
                <button class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre" >
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>
                </button>
                <h2 id="work-forms_title">Ajouter un ouvrage : étape 1</h2>
            </header>
            <main>
                <ul class="nav nav-tabs modal-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#form-container"
                           aria-controls="form-container"
                           role="tab"
                           data-toggle="tab"
                           tabindex='-1'
                           >
                            Saisie libre
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#catalog-container"
                           aria-controls="catalog-container"
                           role="tab"
                           tabindex='-1'
                           data-toggle="tab">
                            Depuis le catalogue
                        </a>
                    </li>
                </ul>
                <div class='tab-content'>
                    <div
                         role="tabpanel"
                         class="tab-pane fade in active"
                         id="form-container">
                        <form name="current">
                            <input type='hidden' name='type_' value='price_study_work' />
                            <div class='limited_width'>
                                <div class='message-container'></div>
                                <div class='errors'></div>
                                <fieldset>
                                    <div class='field-title'></div>
                                    <div class='field-description'></div>
                                </fieldset>
                            </div>
							<div class="layout flex main_actions">
								<div role='group'>
									<button
											class='btn btn-primary icon'
											type='submit'
											value='submit'>
										<svg><use href="/static/icons/endi.svg#save"></use></svg>Continuer
									</button>
									<button
											class='btn icon negative'
											type='reset'
											value='submit'
											title="Annuler et revenir en arrière">
										<svg><use href="/static/icons/endi.svg#times"></use></svg>Annuler
									</button>
								</div>
								<div class='resume'></div>
							</div>
                        </form>
                   </div>
                    <div
                         role="tabpanel"
                         class="tab-pane"
                         id="catalog-container">
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>