<h2 class="title">Description des produits</h2>
<div class='content'>
    <div class='display-options content_vertical_padding'>
        <div class='display-units-container'></div>
        <div class='display-ttc-container'></div>
    </div>
    <div class='group-errors'></div>
    <div class='group-container'></div>
    <div class='group-modalregion'></div>
    {{#if show_add_button}}
        <div class='actions align_right'>
            <button class='btn add' type='button'>
                <svg><use href="/static/icons/endi.svg#plus"></use></svg>
                Ajouter un produit composé
            </button>
        </div>
    {{/if}}
</div>
