<section id="task_group_form" class="modal_view size_middle">
    <div role="dialog" id="task_group-forms" aria-modal="true" aria-labelledby="task_group-forms_title">
        <div class="modal_layout">
            <header>
                <button class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre" onclick="toggleModal('task_group_form'); return false;">
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>
                </button>
                <h2 id="task_group-forms_title">{{ title }}</h2>
            </header>
            <main>
				{{#if add}}
				<ul class="nav nav-tabs modal-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#form-container"
							aria-controls="form-container"
							role="tab"
							data-toggle="tab">
							Saisie libre
						</a>
					</li>
					<li role="presentation">
						<a href="#catalog-container"
							aria-controls="catalog-container"
							role="tab"
							data-toggle="tab">
							Depuis le catalogue
						</a>
					</li>
				</ul>
				{{/if}}
				<div class='tab-content'>
					<div
						role="tabpanel"
						class="tab-pane fade in active"
						id="form-container">
						<form class='form taskgroup-form'>
							<div class='order'></div>
							<div class='taskgroup-title'></div>
							<div class='description'></div>
							<div class='content_vertical_padding'>
								<button class='btn btn-primary' type='submit' value='submit'>
									{{ title }}
								</button>
								<button class='btn' type='reset' value='submit'>
									Annuler
								</button>
							</div>
						</form>
					</div>
					{{#if add}}
					<div
						role="tabpanel"
						class="tab-pane"
						id="catalog-container">
					</div>
					{{/if}}
				</div>
            </main>
<!-- 
            <footer>
            </footer>
 -->
        </div>
    </div>
</section>
