<td class='col_text description'>{{{ description }}}</td>
<td class='col_number'>{{{ cost_amount }}}</td>
<td class='col_number'>{{ quantity }}</td>
<td class='col_text'>{{ unity }}</td>
<td class='col_number'>{{ tva_label }}</td>
{{#if is_ttc_mode}}
<td class='col_number'>{{{ ttc }}}</td>
{{else}}
<td class='col_number'>{{{ ht }}}</td>
{{/if}}
<td class='col_text'>{{{ product }}}</td>
{{#if edit}}
<td class='col_actions width_two'>
	<ul>
		<li>
			<button type='button' class='btn icon only edit' title='Modifier ce produit' aria-label='Modifier ce produit'>
				<svg><use href="/static/icons/endi.svg#pen"></use></svg>
			</button>
		</li>
		<li>
			<button type='button' class='btn icon only negative delete' title='Supprimer ce produit' aria-label='Supprimer ce produit'>
				<svg><use href="/static/icons/endi.svg#trash-alt"></use></svg>
			</button>
		</li>
	</ul>
</td>
<td class='col_actions row_ordering sort'>
	<ul>
		{{#if is_not_first }}
		<li>
			<button type='button' class='btn icon only up' title='Déplacer vers le haut' aria-label='Déplacer vers le haut'>
				<svg><use href="/static/icons/endi.svg#arrow-up"></use></svg>
			</button>
		</li>
		{{/if}}
		{{#if is_not_last }}
		<li>
			<button type='button' class='btn icon only down' title='Déplacer vers le bas' aria-label='Déplacer vers le bas'>
				<svg><use href="/static/icons/endi.svg#arrow-down"></use></svg>
			</button>
		</li>
		{{/if}}
	</ul>
</td>
{{/if}}
