<td class="col_text">{{label}}</td>
{{#scales}}
<td>
    <input
        type="radio"
        name="subitem_{{ ../id }}"
        {{#is_selected}}checked{{/is_selected}}
        value="{{ value }}">
    </input>
</td>
{{/scales}}
<td class="col_text">
<div class='form-group'>
    <textarea name='comments' class='form-control' label='Argumentation, preuves'>{{ comments }}</textarea>
</div>
</td>
