// side content

body.endi .main_area aside {
	.aside_tools {
		display: flex;
		list-style-type: none;
		margin: -10px;
		padding: $unitPadding*2;
	}
}
body.endi.aside_mini {
	.main_area .aside_content {
		display: none;
	}
}
body.endi:not(.aside_bottom) {
	.main_area .aside_tools {
		background: $white;
		margin-bottom: $unitPadding*2;
		position: sticky;
		top: -$unitPadding*2;
	}
}
@media ( min-width: $wideWidth ) {
	body.endi:not(.aside_bottom) {
		.main_area aside {
			border-left: $simpleLine dashed $fadedGrey;
			height: calc( 100vh - 50px );
			flex: 0 1 auto;
			overflow-x: hidden;
			overflow-y: auto;
			padding: $contentVerPadding;
			min-width: 150px;
			max-width: 300px;
			.aside_tools {
				justify-content: space-between;
			}
		}
		&.aside_mini {
			.main_area aside {
				min-width: 32px;
				width: 32px;
				overflow: hidden;
				.aside_tools {
					flex-wrap: wrap;
					.aside_size svg {
						transform: rotate( 180deg );
					}
				}
			}
		}
	}
	body.endi.aside_bottom {
		.main_area {
			overflow: auto;
			> main {
				overflow: visible;
			}
			aside {
				border-top: $simpleLine dashed $fadedGrey;
				padding: $contentVerPadding $contentHorPadding;
				width: 100%;
				.aside_tools {
					justify-content: flex-end;
					.aside_size svg {
						transform: rotate( 90deg );
					}
					.aside_position svg {
						transform: rotate( -90deg );
					}
					li {
						text-align: right;
						width: 32px;
					}
				}
			}
			&.aside_mini {
				.main_area aside {
					height: 32px;
					overflow: hidden;
					.aside_tools {
						.aside_size svg {
							transform: rotate( 270deg );
						}
					}
				}
			}
		}
	}
}
@media ( max-width: $wideWidth ) {
	body.endi .main_area aside {
		border-top: $simpleLine dashed $fadedGrey;
		padding: $contentVerPadding $contentHorPadding;
		width: 100%;
		.aside_tools {
			justify-content: flex-end;
			.aside_size svg {
				transform: rotate( 90deg );
			}
			.aside_position {
				display: none;
			}
		}
	}
	body.endi.aside_mini {
		.main_area aside {
			height: 32px;
			overflow: hidden;
		}
	}
}
@media ( max-width: $desktopWidth ) {
	body.endi .main_area aside {
		padding: $contentVerPadding $contentHorPadding/2;
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi .main_area aside {
		max-width: 100%;
		padding: $contentVerPadding $contentHorPadding/6;
	}
}
