// accordions

body.endi .collapsible {
	position: relative;
	.collapse_title {
		&.title {
			> button,
			> a {
				border: 0 none;
				margin-left: -($unitPadding);
				padding: 0;
			}
		}
		> button,
		> a {
			all: inherit;
			color: $black;
			cursor: pointer;
			text-decoration: none;
			&:hover,
			&:focus,
			&:active {
				box-shadow: none;
				> svg {
					fill: $lightGreen;
				}
			}
			svg.arrow {
				margin-left: $unitPadding;
				vertical-align: text-bottom;
			}
			.icon {
				margin: 0 $unitPadding;
				svg {
					vertical-align: baseline;
				}
				&.status {
					vertical-align: text-bottom;
				}
			}
		}
		&[aria-expanded="true"],
		*[aria-expanded="true"] {
			svg.arrow {
				transform: rotate( 180deg );
			}
			svg.plus {
				display: none;
			}
			svg.minus {
				display: inline;
			}
		}
		&[aria-expanded="false"],
		*[aria-expanded="false"] {
// 			~ .collapse_content {
// 				display: none;
// 			}
			svg.plus {
				display: inline;
			}
			svg.minus {
				display: none;
			}
		}
		.help_text {
			display: inline-block;
			small {
				font-size: 1rem;
				font-weight: normal;
			}
			a {
				color: $black;
				font-size: 1rem;
				padding-left: $unitPadding*2;
				text-decoration: none;
				svg {
					vertical-align: text-top;
				}
				&:hover,
				&:focus,
				&:active {
// 					color: $lightGreen;
					svg {
						fill: $lightGreen;
					}
				}
			}
		}
	}
	.collapse_content {
		padding-left: $unitPadding*6;
		.collapse > div {
			padding: $unitPadding $unitPadding $unitPadding 0;
		}
		> div[aria-expanded],
		> div.collapse,
		> div.collapse.in {
			overflow: visible;
			height: auto;
			transition: height .25s ease-out;
		}
		> div[aria-expanded="false"],
		> div.collapse {
			height: 0;
			overflow: hidden;
			padding: 0;
		}
		h4 {
			padding: $unitPadding 0;
		}
	}
	&.separate_block {
		&.border_left_block .title {
			padding-left: 0;
		}
		.collapse_title > a.separate_bottom {
			border-bottom: 1px solid $fadedGrey;
			padding: $unitPadding 0;
		}
	}
	&.separate_bottom {
		padding-bottom: $unitPadding;
	}
// 	.buttons {
// 		padding: $unitPadding 0;
// 		button {
// 			margin-right: $unitPadding;
// 		}
// 	}
	.collapse_title_buttons {
		display: flex;
		right: 0;
		padding: 0;
		position: absolute;
		top: -2px;
		z-index: $contentLayer;
		button.icon.only,
		a.icon.only {
			margin-left: $unitPadding;
			padding: $unitPadding;
			position: static;
		}
	}
// 	.collapse_title_edit {
// 		background: $white;
// 		padding: 0;
// 		position: absolute;
// 		top: 0;
// 		left: $unitPadding*7;
// 		width: calc( 100% - 125px );
// 		label {
// 			padding: 0;
// 		}
// 		input[type="text"] {
// 			font-size: 1.25rem;
// 			font-weight: bold;
// 			height: $unitPadding*7;
// 			min-width: 75%;
// 		}
// 	}
// 	.collapse_button > button {
// 		all: inherit;
// 		cursor: pointer;
// 		&:hover,
// 		&:focus,
// 		&:active {
// 			box-shadow: none;
// 			> svg {
// 				fill: $lightGreen;
// 			}
// 		}
// 		svg {
// 			margin-left: $unitPadding;
// 			vertical-align: text-top;
// 		}
// 	}
}
@media ( max-width: $tabletWidth ) {
	body.endi .collapsible {
		.collapse_content {
			padding-left: $unitPadding*4;
		}
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi .collapsible {
		.collapse_content {
			padding-left: $unitPadding*2;
		}
	}
}
body.endi.theme_manage_people .collapsible {
	.collapse_title {
		> button,
		> a {
			color: $darkBlue;
		}
		svg.arrow {
			fill: $darkBlue;
		}
		> a:hover svg.arrow,
		> a:focus svg.arrow,
		> a:active svg.arrow,
		> button:hover svg.arrow,
		> button:focus svg.arrow,
		> button:active svg.arrow {
			fill: $lightGreen;
		}
	}
}
body.endi.theme_manage_entity .collapsible {
	.collapse_title {
		> button,
		> a {
			color: $darkBlue;
		}
		svg.arrow {
			fill: $veryLightBlue;
		}
		> a:hover svg.arrow,
		> a:focus svg.arrow,
		> a:active svg.arrow,
		> button:hover svg.arrow,
		> button:focus svg.arrow,
		> button:active svg.arrow {
			fill: $lightGreen;
		}
	}
}
