// main content area layout

body.endi .main_area {
	> main {
		flex: 1 0 auto;
		overflow: visible; // to allow stickiness
		&:focus {
			outline: 0 none;	
		}
		&:only-child {
			max-width: 100%;
		}
	}
	.display_switch .contract {
		display: none;
	}
}
body.endi .main_toolbar {
	background: $suggestTransWhite;
	border-bottom: 1px dashed $fadedGrey;
	margin-bottom: $unitPadding*2;
	padding-bottom: 0;
	position: sticky;
	top: 0;
	z-index: $actionLayer;
	+ .main_toolbar {
		margin-top: -($unitPadding*2 + 1px);
	}
	&:empty {
		border: 0 none;
		margin-top: 0;
	}
	ul.nav-pills {
		list-style-type: none;
		li {
			display: inline-block;
			padding: 0 $unitPadding*2 0 0;
			a,
			span {
				border-bottom: 1px solid $fadedGrey;
				display: inline-block;
				padding: $unitPadding 0;
			}
			a {
				text-decoration: none;
				&:hover,
				&:focus,
				&:active {
					border-color: $black;
				}
			}
		}
	}
	ul.breadcrumb {
		font-size: .825rem;
		line-height: 1.25;
		list-style-type: none;
		padding: $unitPadding*2 0;
		li {
			display: inline-block;
			padding: 0;
			a,
			span {
				display: inline-block;
			}
			&:not(.back_link):not(.active)::after {
				content: "\A0:\A0";
			}
		}
		.icon svg {
			vertical-align: text-top;
		}
	}
	&.nav_tools ul.nav-pills {
		font-size: .825rem;
	}
	.flex {
		align-items: flex-start;
		justify-content: space-between;
		> div {
			display: flex;
			padding-bottom: 0;
		}
	}
	.main_actions {
		min-height: $unitPadding*10;
		padding-bottom: $unitPadding;
		padding-top: $unitPadding;
		.btn,
		button {
			margin: $unitPadding 0;
			+ .btn,
			+ button,
			+ .btn-container {
				margin-left: $unitPadding;
			}
		}
		.btn-container {
			+ .btn,
			+ button {
				margin-left: $unitPadding;
			}
		}
	}
	dl {
		margin: 0;
	}
	label + input {
		display: block;
	}
	.buttons {
		align-self: center;
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		margin: $unitPadding 0;
		button:not(:only-child) {
			margin-left: $unitPadding;
		}
		&:only-child {
			display: block;
			text-align: right;
			width: 100%;
		}
	}
}
// body.endi.fullscreen {
// 	.base_menu,
// 	.main_header,
// 	.main_toolbar {
// 		display: none;
// 	}
// 	&.menu_mini .main_area,
// 	.main_area, {
// 		height: 100vh;
// 		max-height: 100vh;
// 		width: 100vw;
// 	}
// 	.display_switch .expand {
// 		display: none;
// 	}
// 	.display_switch .contract {
// 		display: block;
// 	}
// }
@media ( min-width: $mobileWidth ) {
	body.endi .main_content {
		.limited_width {
			margin: 0 auto;
			max-width: 80em;
			&.width20 {
				max-width: 20em;
			}
			&.width30 {
				max-width: 30em;
			}
			&.width40 {
				max-width: 40em;
			}
			&.width50 {
				max-width: 50em;
			}
			&.width60 {
				max-width: 60em;
			}
		}
	}
// 	body.endi .main_toolbar {
// 		.search_form {
// 			min-width: 20em;
// 		}
// 	}
}
@media ( min-width: $desktopWidth ) {
	body.endi .main_content {
		padding: 0 $contentHorPadding $contentVerPadding;
		.main_toolbar {
			margin-left: -$contentHorPadding;
			margin-right: -$contentHorPadding;
			padding-left: 30px;
			padding-right: $contentHorPadding;
		}
		.limited_width {
			margin: 0 auto;
			max-width: 80em;
			&.width20 {
				max-width: 20em;
			}
			&.width30 {
				max-width: 30em;
			}
			&.width40 {
				max-width: 40em;
			}
			&.width50 {
				max-width: 50em;
			}
			&.width60 {
				max-width: 60em;
			}
		}
	}
}
@media ( min-width: $wideWidth ) {
	body.endi:not(.aside_bottom) .main_area {
		display: flex;
		> main:only-child {
			overflow: auto;
		}
		> main:not(:only-child) {
			flex: 1 1 auto;
			max-width: calc( 100% - 150px );
			overflow: auto;
		}
	}
	body.endi:not(.aside_bottom).aside_mini .main_area {
		> main {
			max-width: calc( 100% - 32px );
		}
	}
}
@media ( max-width: $desktopWidth ) {
	body.endi .main_content {
		padding: 0 $contentHorPadding/2 $contentVerPadding;
		.main_toolbar {
			margin-left: -$contentHorPadding/2;
			margin-right: -$contentHorPadding/2;
			padding-left: 15px;
			padding-right: $contentHorPadding/2;
		}
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi .main_content {
		padding: 0 $contentHorPadding/6 $contentVerPadding*2;
		.limited_width {
			max-width: calc( 100vw - 24px );
		}
	}
	body.endi .main_toolbar {
		margin-left: 0;
		.flex {
// 			flex-direction: column;
			> * {
				margin-bottom: $unitPadding;
			}
		}
	}
}
@media print { // styles used when printing pages
	body.endi .main_content {
		padding: 0;
		.limited_width {
			max-width: 100%;
			width: 100%;
		}
	}
}
body.endi.theme_manage_people .main_toolbar {
	ul.nav-pills {
		a:hover,
		a:focus,
		a:active {
			border-color: $darkBlue;
		}
	}
}
body.endi.theme_manage_entity .main_toolbar {
	ul.nav-pills {
		a:hover,
		a:focus,
		a:active {
			border-color: $veryLightBlue;
		}
	}
}