body.endi .modal_view {
	&.appear div[role="dialog"] > div {
		animation: appear_anim .25s ease-out;
	}
	&.dismiss div[role="dialog"] > div {
		animation: dismiss_anim .25s ease-out;
	}
	div[role="dialog"] {
		align-items: center;
		background: $transWhite;
		bottom: 0;
		display: flex;
		justify-content: center;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: $maskLayer;
		.modal_layout {
			background: $white;
			box-shadow: 0 2px 4px $midGrey;
			display: flex;
			flex-direction: column;
			max-height: calc( 100vh - 20px );
			max-width: calc( 100vw - 20px );
			overflow: hidden;
			padding: 0;
// 			pointer-events: all;
			position: relative;
		}
		header,
		main,
		footer {
			padding: $unitPadding*2;
		}
		header,
		footer,
		nav {
			flex: 0 0 auto;
		}
		nav {
			.nav-tabs {
				padding: 0 $unitPadding*2;
			}
		}
		main {
			flex: 1 1 auto;
			overflow-y: auto;
		}
		header {
			background: $black;
			position: sticky;
			top: 0;
			z-index: $stickyContentLayer;
			&.caution {
				background: $funcCaution;
			}
			button.close {
				svg {
					fill: $white;
				}
				&:hover,
				&:focus,
				&:active {
					svg {
						fill: $lightGreen;
					}
				}
			}
			h2 {
				border: 0 none;
				color: $white;
				padding-right: 2rem;
			}
		}
		button.close {
			position: absolute;
			right: 0;
			top: 0;
			z-index: $actionLayer;
		}
		.modal_actions {
			display: flex;
			justify-content: center;
			button + button {
				margin-left: $unitPadding*2;
			}
		}
		.form-row {
			> div:not([class*="col-md"]) {
				width: 100%;
			}
			.form-group:not([class*="col-md"]) {
				padding-bottom: $unitPadding*2;
				width: 100%;
			}
		}
		.sub_modal {
			border-top: 1px dashed $fadedGrey;
			position: relative;
			padding-top: $unitPadding;			
		}
		footer {
			border-top: 1px dashed $fadedGrey;
		}
	}
	&.size_large {
		div[role="dialog"] .modal_layout {
			min-height: 37.5em;
			width: 60em;
		}
	}
	&.size_middle {
		div[role="dialog"] .modal_layout {
			min-height: 25em;
			width: 45em;
		}
	}
	&.size_small {
		div[role="dialog"] .modal_layout {
			min-height: 12.5em;
			width: 30em;
		}
	}
}
body.endi.modal_open {
	overflow-y: hidden;
	position: relative;
	.base_layout,
	.base_content,
	.main_area {
		height: 100vh;
		overflow: hidden;
// 		pointer-events: none;
	}
}
@media ( min-width: $wideWidth ) {
	body.endi .modal_view:not([class*="size"]) {
		div[role="dialog"] .modal_layout {
			max-width: 50vw;
		}
	}
}
@media ( max-width: $wideWidth ) {
	body.endi .modal_view:not([class*="size"]) {
		div[role="dialog"] .modal_layout {
			max-width: 75vw;
		}
	}
}
@media ( max-width: $desktopWidth ) {
	body.endi .modal_view:not([class*="size"]) {
		div[role="dialog"] .modal_layout {
			max-width: 90vw;
		}
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi .modal_view {
		div[role="dialog"] {
			align-items: flex-start;
// 			position: absolute;
		}
		div[role="dialog"] .modal_layout {
			height: 100vh;
			min-height: 100vh !important;
			max-height: 100vh;
			width: 100vw !important;
			max-width: 100vw;
			main {
				overflow-y: scroll;
			}
		}
		.modal_actions {
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: -$unitPadding*2;
			button {
				margin-bottom: $unitPadding*2;
			}
		}
	}
}
body.endi.theme_manage_people .modal_view {
	div[role="dialog"] {
		header:not(.caution) {
			background: $darkBlue;
		}
	}
}
body.endi.theme_manage_entity .modal_view {
	div[role="dialog"] {
		header:not(.caution) {
			background: $veryLightBlue;
		}
	}
	button.close {
		svg {
			fill: $black;
		}
		&:hover,
		&:focus,
		&:active {
			svg {
				fill: $lightGreen;
			}
		}
	}
	h2 {
		color: $black;
	}
}