body.endi .nav-tabs {
	border-bottom: 1px solid $fadedGrey;
	display: flex;
	list-style-type: none;
	margin: $unitPadding*4 0 0;
	max-width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	li {
		padding: 0;
		a {
			color: $black;
			display: flex;
			line-height: 1.25;
			padding: $unitPadding;
			position: relative;
			text-decoration: none;
			&::after {
				bottom: 0;
				content: "";
				display: block;
				position: absolute;
				right: 0;
			}
			&:hover,
			&:focus,
			&:active {
				border-color: $black;
			}
		}
		svg {
			flex: 0 0 auto;
		}
		.badge {
			margin-left: $unitPadding;
		}
	}
	li.active {
		a {
			cursor: default;
			font-weight: bold;
		}
	}
	&:not(.vertical-tabs) {
		li {
			a {
				align-items: flex-end;
				border-bottom: 2px solid transparent;
				display: flex;
				flex-wrap: wrap;
				height: 100%;
				padding-right: $unitPadding*4;
				&:after {
					border-right: 1px solid $fadedGrey;
					top: 0;
				}
				.icon {
					flex: 0 0 auto;
				}
			}
		}
		li.active {
			a {
				border-bottom: 5px solid $black;
				&::after {
					top: 5px;
				}
			}
		}
	}
	&.vertical-tabs {
		flex-direction: column;
		li {
			a {
				border-left: 2px solid transparent;
				padding: $unitPadding*2 $unitPadding;
				&:after {
					border-bottom: 1px solid $fadedGrey;
					left: 0;
				}
			}
		}
		li.active {
			a {
				border-left: 5px solid $black;
			}
		}
	}
}
body.endi .sidebar-menu {
	ul {
		list-style-type: none;
		max-width: 100%;
		li {
			padding: 0;
			a {
				border-left: 2px solid transparent;
				color: $black;
				cursor: pointer;
				display: flex;
				line-height: 1.25;
				padding: $unitPadding*2 $unitPadding;
				position: relative;
				text-decoration: none;
				&::after {
					bottom: 0;
					border-bottom: 1px solid $fadedGrey;
					content: "";
					display: block;
					left: 0;
					position: absolute;
					right: 0;
				}
				&:hover,
				&:focus,
				&:active {
					border-color: $black;
				}
			}
			svg {
				flex: 0 0 auto;
			}
			svg.arrow,
			.badge {
				margin-left: $unitPadding;
			}
		}
		li.active:not(.dropdown) {
			> a {
				background: $white;
				cursor: default;
				margin-right: -1px;
				font-weight: bold;
			}
		}
		li.dropdown {
			border-bottom: 1px solid $fadedGrey;
			border-top: 1px solid $fadedGrey;
			a.dropdown-toggle[aria-expanded="false"] {
				+ ul {
					display: none;
				}
			}
			a.dropdown-toggle[aria-expanded="true"] {
				svg.arrow {
					transform: rotate(180deg);
				}
			}
			ul a {
				padding-left: $unitPadding*3;
			}
		}
		li.disabled {
			a {
				color: $midGrey;
				cursor: default;
				svg {
					fill: $midGrey;
				}
				&:hover,
				&:focus,
				&:active {
					svg {
						fill: $midGrey;
					}
				}
			}
		}
	}
}
body.endi .tab-content {
	padding: $unitPadding*2;
	&:not(.vertical-tabs) {
		border: 1px solid $fadedGrey;
		border-width: 0 1px 1px;
	}
	.tab-pane { 
		display: none;
		&.active { 
			display: block; 
		}
	}
}
body.endi .modal_view .tab-content {
	border: 0 none;
	padding: $unitPadding*2 0 0;
}
@media ( min-width: $wideWidth ) {
	body.endi .nav-tabs {
	}
}
@media ( max-width: $wideWidth ) {
	body.endi .nav-tabs {
	}
}
@media ( min-width: $desktopWidth ) {
	body.endi .nav-tabs {
		li,
		li.active {
			a {
				padding-right: $unitPadding*6;
			}
		}
	}
}
@media ( max-width: $tabletWidth ) {
	body.endi .nav-tabs {
		&:not(.vertical-tabs) {
			li a {
				padding-right: $unitPadding*2;
			}
		}
	}
}
@media ( min-width: $mobileWidth ) {
	body.endi .sidebar-menu {
		> ul {
			border-right: 1px solid $fadedGrey;
		}
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi .nav-tabs:not(.modal-tabs) {
		margin-top: $unitPadding*2;
		&:not(.vertical-tabs) {
			flex-wrap: wrap;
			li {
				min-width: 10em;
				padding-right: $unitPadding;
				width: 50%;
			}
			li:not(.active) a {
				border-bottom: 1px solid $fadedGrey;
			}
			li a::after {
				border-right: 0 none;
			}
		}
	}
	body.endi .tab-content {
		padding: $unitPadding;
	}
}
body.endi.theme_manage_people .nav-tabs,
body.endi.theme_manage_people .sidebar-menu {
	li {
		a:hover,
		a:focus,
		a:active {
			border-color: $darkBlue;
		}
	}
}
body.endi.theme_manage_people .nav-tabs {
	&:not(.vertical-tabs) {
		li.active a {
			border-bottom-color: $darkBlue;
		}
	}
	&.vertical-tabs {
		li.active a {
			border-left-color: $darkBlue;
		}
	}
}
body.endi.theme_manage_entity .nav-tabs,
body.endi.theme_manage_entity .sidebar-menu {
	li {
		a:hover,
		a:focus,
		a:active {
			border-color: $veryLightBlue;
		}
	}
}
body.endi.theme_manage_entity .nav-tabs {
	&.vertical-tabs {
		li.active a {
			border-left-color: $veryLightBlue;
		}
	}
}
