@page {
  margin: 1cm; }

html {
  font-size: 9pt;
  position: relative;
  font-family: Helvetica;
  font-size: 10px;
  font-weight: normal;
  color: #000000;
  background-color: transparent;
  margin: 0;
  padding: 0;
  line-height: 150%;
  border: 1px none;
  display: inline;
  width: auto;
  height: auto;
  white-space: normal; }
  html h1,
  html h2,
  html h3,
  html h4,
  html h5,
  html h6,
  html p,
  html pre,
  html hr {
    margin: 1em 0; }
  html sup {
    font-size: .625em; }

header.task_header {
  position: relative;
  height: 6.5cm; }
  header.task_header .pdf_logo {
    border: 0 none white;
    width: auto; }
    header.task_header .pdf_logo td {
      border: 0 none white;
      text-align: left;
      vertical-align: middle; }
      header.task_header .pdf_logo td.logo_cell {
        height: 4.25cm;
        overflow: hidden;
        width: 4.25cm; }
    header.task_header .pdf_logo .logo_img {
      height: auto;
      width: 4cm; }
  header.task_header .pdf_address_block {
    display: block;
    /* Haut : 2cm + 1.5cm de marge d'impression */
    /* gauche : 9.5cm */
    margin: .25cm 2cm 0 9.5cm;
    position: absolute; }

main {
  position: relative;
  display: block; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 1cm; }

.pdf_information {
  margin-right: 11cm;
  width: 10cm; }
  .pdf_information h3 {
    font-size: 11pt;
    margin: 0;
    padding: 0.05cm 0 0; }
  .pdf_information .coop_header {
    border: 0.25pt solid #808080;
    margin: 0.05cm 0;
    padding: 0.1cm; }

.pdf_spacer {
  font-size: 2pt; }

table {
  width: 100%;
  border-collapse: collapse;
  border: 0.5pt solid #808080; }
  table tr:nth-child(2n+1) {
    background: none !important; }

th,
td {
  border: 0.5pt solid #808080;
  font-size: 8pt;
  padding: 0.1cm 0.05cm 0.025cm;
  vertical-align: top; }

.col_text {
  hyphens: auto;
  overflow-wrap: break-word;
  text-align: left; }

.col_number,
.col_text.align_right {
  text-align: right; }

.col_date {
  width: 4cm; }

.price,
.price_total {
  width: 3cm; }

.price_total {
  background: #f9f9f9; }

.unity {
  width: 2.25cm; }

.quantity {
  width: 1.5cm; }

.tva {
  width: 2cm; }

.screen-reader-text {
  display: none; }

.payment_conditions + table th {
  text-align: left; }

.pdf_mention_block {
  break-inside: avoid; }
  .pdf_mention_block h4 {
    background: #f9f9f9;
    border: 0.5pt solid #808080;
    border-width: .5pt .5pt 0;
    margin: 0.2cm 0 0;
    padding: 0.1cm 0.1cm 0; }
  .pdf_mention_block p {
    border: 0.5pt solid #808080;
    border-width: 0 .5pt .5pt;
    margin: 0;
    padding: 0.2cm 0.1cm 0.05cm; }

.pdf_sign_block {
  margin-bottom: 0.4cm;
  margin-left: 11cm;
  width: 7cm;
  break-inside: avoid; }
  .pdf_sign_block .pdf_sign_block_width h4 {
    background: #f9f9f9;
    border: 0.5pt solid #808080;
    border-width: .5pt .5pt .25pt;
    border-bottom-style: dashed;
    margin: 0.2cm 0 0;
    padding: 0.1cm 0.1cm 0; }
  .pdf_sign_block .pdf_sign_block_width p {
    border: 0.5pt solid #808080;
    margin: 0;
    padding: 0.3cm 0.1cm 0.2cm; }
  .pdf_sign_block .pdf_sign_block_width .date {
    border-width: 0 .5pt; }
  .pdf_sign_block .pdf_sign_block_width .signature {
    border-width: .25pt .5pt .5pt;
    padding-bottom: 2cm; }

.pdf_footer {
  background: #f9f9f9;
  font-size: 7pt;
  margin: 0;
  text-align: center; }
  .pdf_footer p:last-child {
    padding-bottom: 0; }

.cgv-container {
  bookmark-level: 1;
  bookmark-label: "CGV";
  break-before: always; }
  .cgv-container .pdf_cgv {
    margin-top: 1cm;
    font-size: 7pt;
    padding: 0;
    text-align: justify; }
  .cgv-container h1, .cgv-container h2, .cgv-container h3, .cgv-container h4, .cgv-container h5 {
    margin: .1cm; }

.pdf_page_number {
  margin: 0;
  text-align: center; }

/* Atelier et Rendez-vous */
.workshop_view td.col_text.description, .activity_view td.col_text.description {
  vertical-align: middle; }

.workshop_view header, .activity_view header {
  position: relative; }
  .workshop_view header img, .activity_view header img {
    max-width: 100%; }

.workshop_view .pdf_title_block, .activity_view .pdf_title_block {
  text-align: center; }
  .workshop_view .pdf_title_block h2, .activity_view .pdf_title_block h2 {
    margin: 0;
    padding: 0; }
  .workshop_view .pdf_title_block p, .activity_view .pdf_title_block p {
    margin: 0;
    padding: 0; }

.activity-view .activity-title {
  border-bottom: 0.5pt solid #808080;
  font-weight: 500;
  margin: .2cm 0 .1cm;
  padding: 0; }

.activity-view .activity-content {
  padding-left: .5cm; }

.activity-view .activity_people {
  font-size: 9pt; }

/* !!! Le footer est en dehors du html du contenu <html></html><footer></footer> !!!*/
footer.activity_footer, footer.workshop_footer {
  text-align: left; }
  footer.activity_footer img, footer.workshop_footer img {
    max-width: 100%;
    height: 2cm;
    width: auto; }

.upper {
  text-transform: uppercase; }

.description ul {
  margin-bottom: 3px; }

.description li, .description p, .description div {
  margin: 0;
  padding: 0;
  font-size: 8pt;
  line-height: 1.2;
  vertical-align: middle; }

.description p {
  margin: 2px 0px; }
