body.endi[class*="estimations/{id}"] .main_actions div[role="group"],
body.endi[class*="invoices/{id}"] .main_actions div[role="group"] {
  order: 0; }

body.endi[class*="estimations/{id}"] .main_actions .child-container > div,
body.endi[class*="invoices/{id}"] .main_actions .child-container > div {
  display: flex; }
  body.endi[class*="estimations/{id}"] .main_actions .child-container > div > div,
  body.endi[class*="invoices/{id}"] .main_actions .child-container > div > div {
    margin: 0 0 5px 5px; }

body.endi[class*="estimations/{id}"] .layout.flex div[class*="col-md"] > div:not(:last-child),
body.endi[class*="invoices/{id}"] .layout.flex div[class*="col-md"] > div:not(:last-child) {
  padding-bottom: 20px; }

body.endi[class*="estimations/{id}"] .quotation_item_title,
body.endi[class*="invoices/{id}"] .quotation_item_title {
  justify-content: space-between;
  padding: 0 2px 5px;
  width: 100%; }
  body.endi[class*="estimations/{id}"] .quotation_item_title h3 em,
  body.endi[class*="invoices/{id}"] .quotation_item_title h3 em {
    font-weight: normal; }
  body.endi[class*="estimations/{id}"] .quotation_item_title > div:last-child,
  body.endi[class*="invoices/{id}"] .quotation_item_title > div:last-child {
    white-space: nowrap; }

body.endi[class*="estimations/{id}"] .separate_block .form-group,
body.endi[class*="invoices/{id}"] .separate_block .form-group {
  padding-bottom: 5px; }

body.endi[class*="estimations/{id}"] .paymentlines .col_actions,
body.endi[class*="invoices/{id}"] .paymentlines .col_actions {
  min-width: 28px;
  width: 28px; }

body.endi[class*="estimations/{id}"] .content > button,
body.endi[class*="invoices/{id}"] .content > button {
  margin: 5px; }

@media (min-width: 1200px) {
  body.endi[class*="estimations/{id}"] .main_actions div.totals,
  body.endi[class*="invoices/{id}"] .main_actions div.totals {
    order: 1; }
  body.endi[class*="estimations/{id}"] .main_actions div.child-container,
  body.endi[class*="invoices/{id}"] .main_actions div.child-container {
    order: 2; } }

@media (max-width: 1200px) {
  body.endi[class*="estimations/{id}"] .main_actions,
  body.endi[class*="invoices/{id}"] .main_actions {
    flex-wrap: wrap; }
    body.endi[class*="estimations/{id}"] .main_actions div.totals,
    body.endi[class*="invoices/{id}"] .main_actions div.totals {
      order: 2;
      width: 100%; }
    body.endi[class*="estimations/{id}"] .main_actions div.child-container,
    body.endi[class*="invoices/{id}"] .main_actions div.child-container {
      order: 1; } }
