body.endi[class*="preview-view"] .task_view {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain; }

body.endi[class*="preview-view"][class*="estimations"] .task_view {
  background-image: url("../watermark_estimation.jpg"); }

body.endi[class*="preview-view"][class*="invoices"] .task_view {
  background-image: url("../watermark_invoice.jpg"); }

body.endi .task_view > div {
  margin: 5px; }

body.endi .task_view .pdf_logo {
  border: 0 none white;
  width: auto; }
  body.endi .task_view .pdf_logo td {
    border: 0 none white;
    text-align: left;
    vertical-align: middle; }
    body.endi .task_view .pdf_logo td.logo_cell {
      height: 140px;
      overflow: hidden;
      width: 140px; }
  body.endi .task_view .pdf_logo .logo_img {
    height: auto;
    width: 128px; }

body.endi .task_view .pdf_address_block {
  display: flex;
  justify-content: flex-end; }
  body.endi .task_view .pdf_address_block > div {
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    margin-right: 3em;
    position: relative;
    width: 23em;
    padding: 30px; }
    body.endi .task_view .pdf_address_block > div .corner {
      border: 1px dotted rgba(128, 128, 128, 0.2);
      height: 2em;
      display: block;
      position: absolute;
      width: 2em; }
      body.endi .task_view .pdf_address_block > div .corner.bottom {
        border-top-width: 0;
        bottom: 0; }
      body.endi .task_view .pdf_address_block > div .corner.left {
        border-right-width: 0;
        left: 0; }
      body.endi .task_view .pdf_address_block > div .corner.right {
        border-left-width: 0;
        right: 0; }
      body.endi .task_view .pdf_address_block > div .corner.top {
        border-bottom-width: 0;
        top: 0; }

body.endi .task_view .pdf_information {
  max-width: 50%; }
  body.endi .task_view .pdf_information h3 {
    font-size: 1.25rem;
    padding: 5px 0; }
  body.endi .task_view .pdf_information .coop_header {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(128, 128, 128, 0.2);
    margin-top: 5px;
    padding: 5px; }

body.endi .task_view .pdf_mention_block {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin: 5px; }
  body.endi .task_view .pdf_mention_block h4 {
    background: rgba(128, 128, 128, 0.05);
    color: black;
    padding: 5px; }
  body.endi .task_view .pdf_mention_block p {
    font-size: .875rem;
    padding: 5px; }

body.endi .task_view .payment_conditions + table {
  margin: -5px 5px 5px;
  width: calc( 100% - 10px); }

body.endi .task_view .pdf_sign_block {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-top: 20px; }
  body.endi .task_view .pdf_sign_block > div {
    border: 1px solid rgba(128, 128, 128, 0.2);
    width: 18em; }
    body.endi .task_view .pdf_sign_block > div h4 {
      background: rgba(128, 128, 128, 0.05);
      border-bottom: 1px solid rgba(128, 128, 128, 0.2);
      padding: 2.5px 10px; }
    body.endi .task_view .pdf_sign_block > div p {
      padding: 10px; }
    body.endi .task_view .pdf_sign_block > div .date {
      border-bottom: 1px solid rgba(128, 128, 128, 0.2); }
    body.endi .task_view .pdf_sign_block > div .signature {
      height: 6em; }

body.endi .task_view .pdf_task_table {
  margin-bottom: 20px;
  margin-top: 10px; }
  body.endi .task_view .pdf_task_table + .pdf_task_table {
    margin-top: -10px; }
  body.endi .task_view .pdf_task_table h1 {
    background: none;
    color: black; }

body.endi .task_view .pdf_spacer {
  display: none; }

body.endi .task_view table {
  border-collapse: collapse;
  border: 1px solid rgba(128, 128, 128, 0.2);
  width: 100%; }
  body.endi .task_view table tbody th,
  body.endi .task_view table tbody td,
  body.endi .task_view table thead th,
  body.endi .task_view table thead td,
  body.endi .task_view table tfoot th,
  body.endi .task_view table tfoot td {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(128, 128, 128, 0.2);
    padding: 4px; }
  body.endi .task_view table tbody tr:nth-child(2n+1),
  body.endi .task_view table thead tr:nth-child(2n+1),
  body.endi .task_view table tfoot tr:nth-child(2n+1) {
    background: none !important; }
  body.endi .task_view table .price,
  body.endi .task_view table .price_total {
    width: 6em; }
  body.endi .task_view table .price_total {
    background: rgba(128, 128, 128, 0.05); }
  body.endi .task_view table .unity {
    max-width: 7.5em; }
  body.endi .task_view table .quantity,
  body.endi .task_view table .tva {
    width: 5em; }

body.endi .pdf_footer {
  background: rgba(128, 128, 128, 0.05);
  font-size: .75rem;
  margin: 0 -10px;
  text-align: center; }
  body.endi .pdf_footer h4 {
    font-size: .75rem;
    padding-top: 10px; }
  body.endi .pdf_footer p:last-child {
    padding-bottom: 10px; }

body.endi .pdf_page_number {
  font-size: .875rem;
  text-align: center; }

body.endi .pdf_cgv {
  font-size: .75rem;
  padding: 20px 5px;
  text-align: justify; }

body.endi.endi_popup .pdf_footer {
  margin: 5px 0; }

body.endi.endi_popup .pdf_cgv {
  padding: 20px 10px; }

@media (max-width: 800px) {
  body.endi .tab-content .layout.two_cols > * {
    width: 100%; }
  body.endi .tab-content .layout.two_cols > div {
    padding-left: 0;
    padding-right: 0; } }

body.endi.pdf_export html {
  font-size: 9pt; }
